# Ignore Python bytecode files
*.pyc
*.pyo

# Ignore all __pycache__ directories
**/__pycache__/

# Ignore build artifacts
dist/
build/
*.egg-info/

# Ignore virtual environment directories
.venv/
venv/

# Other rules can go here
*.ipynb
**/tests/
